.home {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.home-img {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.home-navbar {
  color: white;
  float: right;
  display: block;
  text-align: center;
  padding: 31px 29px;
  text-decoration: none;
}
.home-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-logo {
  color: white;
  width: 37px;
  height: 36px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 44px;
  padding-right: 14px;
}

.home h2 {
  color: white;
  float: left;
  margin-top: 21px;
  font-size: 28px;
}


.home-centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-footer {
  background: black;
  height: 525px;
  width: 100%;
  margin: 0;
}

.title {
  font-size: 150%;
  font-weight: bold;
}

.home h1 {
  font-size: 80px;
  margin-bottom: 0;
  font-weight: bold;
}

.home h4 {
  font-size: 18px;
}